*{
    margin: 0;
    padding: 0;   
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #dd32ad, #16d8e6);
    background-repeat: repeat;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display:flex;
    align-items: center;  
}
.logo{
    width: 200px;
    cursor: pointer;
}
.menu{
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover{
    color:rgb(0, 247, 25);
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 80px;
}
p{
    color:#fff;
    font-size: 15px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 18px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top:  30px;
    cursor: pointer;
}
.card{
    width: 200px;
    height: 230px;
    display:inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing:border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(pics/General.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(pics/Gen.jpg);
}
.card2{
    background-image: url(pics/Cam.webp);
}
.card3{
    background-image: url(pics/sof.jfif);
}
.card:hover{
    transform: translateY(-10px);
}
h3{
    color: rgb(0, 242, 255);
    text-shadow: rgb(124, 121, 121);
}
.card p{
    color: rgb(255, 255, 255);
    font-size: 12px;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgbox{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentbox .formbox{
    width: 50%;
}
section .contentbox .formbox h2{
    color: #5f00ee;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display:inline-block;
    letter-spacing: 1px;
}
section .contentbox .formbox .inputbox{
    margin-bottom: 20px;
}
section .contentbox .formbox .inputbox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentbox .formbox .inputbox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    color: #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
}
section .contentbox .formbox .inputbox #login-btn{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentbox .formbox .inputbox #login-btn:hover{
    background: #f53677;
}
section .contentbox .formbox .rem{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
section .contentbox .formbox .h3{
    color: #7500fb;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentbox .formbox .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contentbox .formbox .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
section .contentbox .formbox .sci li:hover{
    background: #ffff45;
}
section .contentbox .formbox .sci li img{
    transform: scale(0.5);
}

/*Reg*/
.frm{
    align-items: center;
    justify-content: left;
    margin: 30px 150px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left:  80px;
    padding-top: 50px;
    padding-right: 30px;
}
.frm .txt{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 8px;
}
.frm .txtsrt{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 8px;
}
.frm select {
    width: 8%;
    padding: 8px 4px;
    border: none;
    border-radius: 4px;
    background-color: white;
    border: 3px solid #555;
  }
  
.frm textarea {
    width: 200%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  .frm input[type=submit]{
    width: 180px;
    color: #fff;
    font-size: 18px;
    padding: 12px 0;
    background: linear-gradient(135deg, #dd32ad, #16d8e6);
    border: 1;
    border-radius: 20px;
    border-color: #555;
    margin-top:  30px;
    cursor: pointer;
}
.frm input[type=reset]{
    width: 180px;
    color: #000;
    font-size: 18px;
    padding: 12px 0;
    background: linear-gradient(135deg, red, orange);
    border: 1;
    border-radius: 20px;
    border-color: #555;
    margin-top:  30px;
    cursor: pointer;
    float: right;
}
/*Mobiles*/
.lst{
    margin: 0;
    padding: 50px;
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lst .crd{
    width: 200px;
    height: 280px;
    display:inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing:border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(pics/General.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    color: rgb(241, 175, 5);
}
.lst .crd1{
    background-image: url(pics/Gen.jpg);
}
.lst .crd2{
    background-image: url(pics/Gen.jpg);
}
.lst .crd3{
    background-image: url(pics/Gen.jpg);
}
.lst .crd4{
    background-image: url(pics/lap.jpg);
}
.crd:hover{
    transform: translateY(-10px);
}